.vs/Fracter2/v15/.suo
.vs/Fracter2/v15/Server/sqlite3/db.lock
.vs/Fracter2/v15/Server/sqlite3/storage.ide
.vs/Fracter2/v15/Server/sqlite3/storage.ide-shm
.vs/Fracter2/v15/Server/sqlite3/storage.ide-wal
bin/Debug/Fracter2.exe
bin/Debug/Fracter2.exe.config
bin/Debug/Fracter2.pdb
obj/
.idea/
.idea/.idea.Fracter2
.idea/.idea.Fracter2/.idea
.idea/.idea.Fracter2/.idea/projectSettingsUpdater.xml
Fracter2.sln.DotSettings.user
